<div class="container">

    <nav class="navbar bg-light mb-3">
        <div class="container-fluid">
            <a class="navbar-brand">Meteo Api</a>
        </div>
    </nav>

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">LAT</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" name="lan" id="lan" [(ngModel)]="jsonIn.lat">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">LNG</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" name="lng" id="lng" [(ngModel)]="jsonIn.lng">
    </div>

    <button type="submit" class="btn btn-outline-primary" [routerLink]="'/meteo/' +jsonIn.lat+'/'+jsonIn.lng">GO
    </button>

    <div class="locationCards">
        <div *ngFor="let city of defaultLocationCoords" class="locationCard-SM">
            <button class="btn btn-outline-primary mt-3" [routerLink]="'/meteo/' +city.lat+'/'+city.lng">
                {{city.loc}}
            </button>
        </div>
    </div>




</div>
